.instar-inner {
    
    h2.tit {
        color: var(--primary);
        font-size: 5.5rem;
    }
    p.txt {
        margin-top: 2rem;
        color: var(--muted);
        font-family: 'Source Serif Pro', serif;
    }

    .instar-list {
        margin-top: 4rem;
        display: flex;
        gap: 1rem;

        li {
            width: 21rem;
            height: 21rem;
            overflow: hidden;
        }
    }
}